.App {
  margin: 10px 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-title{
  width:100%;
  text-align: left;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}


.App-table{
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;

  th{
    margin:0;
    padding:0;
    height: 3rem;
    max-width: 100px;
  }

  th,td{
    margin:0;
    padding:2px 0;
    border: 1px solid #c7c7c7;
    height: 1.5rem;

    &:hover{
      background-color: rgb(255, 240, 240);
    }
  }

  td[contenteditable="true"]{
    max-width: 100px;
  }
  td:focus{
    outline:none;
  }

  td.select{
    width: 80px;
  }

  td.del{
    cursor:pointer;
  }
  .del{
    border:none;
  }
}

.App-addrow{
  cursor: pointer;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}
